@model RegisterMemberViewModel
<form asp-action="RegisterMember" method="post">
    <div>
        <label asp-for="MembershipNumber">Enter MembershipNumber</label>
        <input asp-for="MembershipNumber" />
        <span asp-validation-for="MembershipNumber"></span>
    </div>
    <div>
        <label asp-for="FirstName">Enter FirstName</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName">Enter LastName</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Email">Enter Email</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber" class="form-label">Enter PhoneNumber</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Address">Enter Address</label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
   @*  <div>
        <label asp-for="MembershipDate">Enter MembershipDate</label>
        <input asp-for="MembershipDate" />
        <span asp-validation-for="MembershipDate"></span>
    </div>
    <div>
        <label asp-for="MembershipExpiryDate">Enter MembershipExpiryDate</label>
        <input asp-for="MembershipExpiryDate" />
        <span asp-validation-for="MembershipExpiryDate"></span>
    </div> *@
    <div>
        <label asp-for="IsActive">Enter IsActive</label>
        <input asp-for="IsActive" />
        <span asp-validation-for="IsActive"></span>
    </div>
    <div>
        <label asp-for="MaxBooksAllowed">Enter MaxBooksAllowed</label>
        <input asp-for="MaxBooksAllowed" />
        <span asp-validation-for="MaxBooksAllowed"></span>
    </div>
    <div>
        <label asp-for="OutstandingFees">Enter OutstandingFees</label>
        <input asp-for="OutstandingFees" />
        <span asp-validation-for="OutstandingFees"></span>
    </div>
    <div>
        <input  type="submit" value="Register" class="btn btn-primary"/>
    </div>
</form>
